*::before, *::after  {
    padding: 0;
    text-align: center;
}

#hand > * {
    margin-right: 1%;
}

#game {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#game > * {
    margin-bottom: 2%;
}

#field > * {
    margin-right: 1%;
}

#extra {
    display: flex;
    align-self: center;
}

#title {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100px;
}

#one {
    display: flex;
    align-self: center;
    height: 100px;
    width: 100px;
}

.card {
    font-size: 20px;
    border-radius: 5px;
    height: 150px;
    width: 100px;
}

.card:hover {
    background-color: lightgray;
    cursor: pointer;
    border: none;
}

.center {
    

}